/* .searchbar-div{
    background-color: #f2f2f2;
    height: 50px;
}
.input{
    width: 280px;
    border-radius: 5px;
}
.s-button{
    background-color: black;
    color: white;
    border-radius: 5px;
}

.button{
    background-color: blue;
    width: 60px;
    height: 60px;
    color: whitesmoke;
    border-radius: 25px;
} */